@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>add a new client</h4>

<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Name:")
  @Html.TextBoxFor(model => model.Name)
  <hr />
  @Html.LabelFor(model => model.Gender, "Gender:")
  @Html.TextBoxFor(model => model.Gender)
  <hr />
  @Html.LabelFor(model => model.PreferredStyle, "Preferred Hair Style:")
  @Html.TextBoxFor(model => model.PreferredStyle)
  <hr />
  @Html.LabelFor(model => model.PhoneNumber, "Phone Number:")
  @Html.TextBoxFor(model => model.PhoneNumber)
  <hr />
  @Html.LabelFor(model => model.Stylist, "Stylist Name: ")
  @Html.DropDownList("StylistId", null, string.Empty)

  <br>
  <br>
  <input type="submit" value="add new client" class="btn btn-default"/>
}

<p>@Html.ActionLink("show all clients","Index")</p>